singularity {
   cacheDir = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/Pipeline_Dev/containers/'
   enabled = true
   autoMounts = true
   runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
}

manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.24.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!20.04.1'
}

params {
   global {
      project_name = '10x_multiome_brain'
      outdir = 'out'
      species = 'human'
      genome {
         assembly = 'hg38'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.3.0'
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
      }
   }
   sc {
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.2'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            method = 'mean_disp_plot'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               off = 'h5ad'
            }
         }
         clustering {
            preflight_checks = true
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            method = 'leiden'
            resolutions = [0.3, 0.6, 0.9, 1.2]
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            groupby = 'leiden'
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterStrategy = 'fixedthresholds'
            cellFilterMinNGenes = 500
            cellFilterMaxNGenes = 7500
            cellFilterMaxPercentMito = 0.05
            geneFilterMinNCells = 3
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            countsPerCellAfter = 10000
            off = 'h5ad'
         }
      }
      scope {
         genome = 'hg38'
         tree {
            level_1 = '10x_multiome_brain'
            level_2 = 'rna-vsn'
            level_3 = ''
         }
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.4'
         scenicoutdir = 'out/scenic/'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = false
         grn {
            algorithm = 'grnboost2'
            tfs = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/resources/allTFs_hg38.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            output = 'reg.csv'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/mc9nr/gene_based/hg38__refseq-r80__*feather'
            motifsAnnotation = '/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
         }
      }
   }
   data {
      loom {
         file_paths = '/staging/leuven/stg_00002/lcb/cbravo/Multiomics_pipeline/analysis/10x_multiome_brain/output/rna/vsn/add_clusters_scrublet_as_annot/10x_multiome_brain_filtered.loom'
         suffix = '.loom'
      }
   }
    pcacv {
      container = 'vibsinglecellnf/pcacv:0.2.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
      }
   }
}

process {
   executor = 'local'
   withLabel:'compute_resources__.*|compute_resources__default' {
      cpus = 2
      time = '1h'
      clusterOptions = '-A lp_symbiosis'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
      memory = '1 GB'
   }
   withLabel:compute_resources__mem {
      cpus = 4
   }
   withLabel:compute_resources__cpu {
      cpus = 4
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
   }
   withLabel:compute_resources__24hqueue {
      time = '24h'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 10
      time = '24h'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 10
      time = '24h'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 10
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 10
   }
   withLabel:compute_resources__pcacv {
      cpus = 5
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}
